<%= will_paginate @changelogs, :params => { :pagination => nil } %>
<%= ajax_pagination_loadzone do %>
  <% @changelogs.each do |changelog| %>
    <%= content_tag :div, :style => "border-bottom: 1px solid black;" do %>
      <h2><%= simple_format(changelog.title) %></h2>
      <%= simple_format(changelog.content) %>
    <% end %>
  <% end %>
<% end %>
<%= will_paginate @changelogs, :params => { :pagination => nil } %>
