<%= ajax_links :section_id => "page" do %>
  <%= will_paginate @changelogs %>
<% end %>
<%= ajax_loadzone do %>
  <% @changelogs.each do |changelog| %>
    <%= content_tag :div, :style => "border-bottom: 1px solid black;" do %>
      <h3><%= simple_format(changelog.title) %></h3>
      <%= simple_format(changelog.content) %>
    <% end %>
  <% end %>
<% end %>
<%= ajax_links :section_id => "page" do %>
  <%= will_paginate @changelogs %>
<% end %>
