<%= ajax_links :section_id => "upcomingpage" do %>
  <%= will_paginate @upcomingposts, :param_name => :upcomingpage %>
<% end %>
<%= ajax_loadzone do %>
  <% @upcomingposts.each do |post| %>
    <div style="border-bottom: 1px solid black; padding-bottom: 10px;">
      <p><h3><%= post.title %></h3><i>Published on <%= post.published_at.strftime('%d %B %Y') if post.published_at? %></i></p>
      <%= simple_format(post.content) %>
      <%= link_to 'Show', post %>
      <% if session[:admin] %>
        | <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= ajax_links :section_id => "upcomingpage" do %>
  <%= will_paginate @upcomingposts, :param_name => :upcomingpage %>
<% end %>
