<h1>
  <%= @post.title %>
</h1>
<i>Published <%= @post.published_at.strftime('%d %B %Y') %></i>
<p>
  <%= simple_format(@post.content) %>
</p>


<% if session[:admin] %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
